.tarefas {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #eeeeee;
}

.tarefas .titulo-tarefas {
  text-align: center;
  padding: 12px;
  font-size: 40px;
  font-style: italic;
}

.tarefas .addTask {
  padding: 10px;
}

.tarefas .addTask input {
  padding: 12px;
  margin: 3px;
  border-radius: 12px;
  border: none;
}

.tarefas .addTask button {
  padding: 12px;
  margin: 3px;
  border-radius: 12px;
  border: none;
  background-color: #34c221;
  cursor: pointer;
}

.tarefas .task {
  margin-top: 24px;
}

.tarefas .task section {
  font-size: 20px;
  margin-top: 3px;
}

.tarefas .task span {
  margin: 3px;
}

.tarefas .btn {
  font-size: 10px;
  padding: 3px;
  margin: 3px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.tarefas .btn-excluir {
  background-color: #cf3434;
}

.tarefas .btn-editar {
  background-color: #dfdf0d;
}

.tarefas .msg-rodape {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}
