* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav {
  background-color: #c52b0c;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 9;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 32px;
}

.nav-list a {
  text-decoration: none;
  color: #f3f3f3;
  padding: 20px;
}

.nav-list a:hover {
  text-decoration: underline;
}

.main {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #000;
  background-image: url(images/foto-pc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.main h1 {
  color: #f3f3f3;
  font-size: 54px;
}

.main p {
  font-size: 24px;
  font-style: italic;
  color: #e6320c;
  margin-top: 10px;
  margin-bottom: 35px;
}

.main a {
  text-decoration: none;
}

.call-to-action {
  cursor: pointer;
  background-color: #f3f3f3;
  border: 0;
  padding: 14px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  transition: .3s;
}

.call-to-action:hover {
  transform: scale(1.1);
}

.about {
  background-color: #f3f3f3;
  width: 100%;
  padding: 80px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about div {
  max-width: 50%;
  padding-right: 40px;
}

.about div h2 {
  font-size: 32px;
  margin-bottom: 14px;
}

.about img {
  max-width: 450px;
  border-radius: 8px;
}

.about p {
  margin-bottom: 12px;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.projects h2 {
  font-size: 32px;
  margin-bottom: 8px;
  margin-top: 20px;
}

.projects p {
  margin-bottom: 40px;
  font-style: italic;
}

.project-list {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects img {
  width: 22%;
  margin: 0 .5%;
  opacity: .8;
  transition: .3s;
}

.projects img:hover {
  opacity: 1;
}

.action {
  background-color: #c52b0c;
  border: 0;
  padding: 18px 32px;
  border-radius: 20px;
  font-size: 18px;
  color: #f3f3f3;
  margin-top: 20px;
  cursor: pointer;
  transition: .3s;
}

.action:hover {
  transform: scale(1.1);
}

footer {
  width: 100%;
  background-color: #c52b0c;
  padding: 20px 0;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #f3f3f3;
  margin-right: 12px;
}

footer a:hover {
  text-decoration: underline;
}