#meu-h1 {
    color: darkorchid;
    font-family: "Playwrite NZ Basic Guides", cursive;
}

#meu-h2 {
    color: #2ea5ad;
    font-family: 'Times New Roman', Times, serif;
}

#meu-h3 {
    color: rgb(62, 83, 11);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}