* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 180vh;
}

.container {
    background-color: #121212;
    width: 700px;
    color: #fff;
    /* Espaçamento externo */
    margin: 50px auto;
    /* Espaçamento interno */
    padding: 12px;
    border: 5px solid rebeccapurple;
    border-radius: 12px;
}

.area-relative {
    position: relative;
    width: 600px;
    height: 480px;
    border: 2px solid blue;
}

.area-absolute {
    position: absolute;
    border: 2px solid turquoise;
    bottom: 0;
}

.area-fixed {
    position: fixed;
    width: 170px;
    height: 50px;
    background-color: lightsalmon;
    bottom: 100px;
    right: 100px;
}

.area-sticky {
    position: sticky;
    width: 170px;
    height: 50px;
    background-color: lightcoral;
    top: 10px;
}