* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    background-color: #121212;
    width: 700px;
    color: #fff;
    /* Espaçamento externo */
    margin: 50px auto;
    /* Espaçamento interno */
    padding: 12px;
    border: 5px solid rebeccapurple;
    border-radius: 12px;
}

header {
    background-color: lightcoral;
    width: 100%;
    position: sticky;
    top: 0;
}