.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.home-container p {
  font-size: 20px;
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
}

.home-container .games {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}

.home-container .card {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 500px;
  padding: 20px;
  border-radius: 12px;
  gap: 10px;
  background-color: #fafafa;
  box-shadow: 0 3px 7px #00000052;
}

.home-container .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.home-container .card h1 {
  font-size: 25px;
  text-align: center;
}

.home-container .card h3 {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}

.home-container .card a {
  background-color: #7c5cff;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
}
