.loading {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 160px);
  padding: 60px 0;
}

.loading span {
  font-size: 32px;
  text-transform: uppercase;
  color: #7c5cff;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 160px);
  padding: 30px 0;
}

.home-container p {
  font-size: 20px;
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
}

.home-container .games {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}

.home-container .card {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 500px;
  padding: 20px;
  border-radius: 12px;
  gap: 10px;
  background-color: #fafafa;
  box-shadow: 0 3px 7px #00000052;
}

.home-container .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.home-container .card h1 {
  font-size: 25px;
  text-align: center;
}

.home-container .card h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 200px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
}

.home-container .card a {
  display: block;
  background-color: #7c5cff;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
}

.pagination button {
  padding: 10px 20px;
  border: 0;
  border-radius: 8px;
  background: #7c5cff;
  color: white;
  cursor: pointer;
}
