* {
  margin: 0 auto;
  font-family: sans-serif;
  box-sizing: border-box;
}

.titulo {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.lista a {
  text-decoration: none;
  font-size: 1.2em;
  color: maroon;
}

.lista a:hover {
  text-decoration: underline;
}
