.divider {
  margin: 40px 0;
  width: 95vw;
}

.divider h2 {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 8px;
}

@media (max-width: 758px) {
  .divider {
    width: 90vw;
  }
  .divider h2 {
    text-align: center;
  }
}
