.filme-info {
  margin: 0 auto;
  display: flex;
  height: calc(100vh - 120px);
  flex-direction: column;
  max-width: 800px;
  padding: 15px;
}

.filme-info h1 {
  margin: 14px auto;
}

.filme-info img {
  border-radius: 8px;
  width: 1200px;
  max-width: 100%;
  object-fit: cover;
}

.filme-info h3 {
  margin-top: 14px;
}

.filme-info hr {
  margin: 10px 0;
}

.filme-info span {
  margin: 8px 0;
  text-align: justify;
  font-size: 1.2em;
}

.area-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.area-info div {
  display: flex;
  align-items: center;
}

.area-info p {
  font-size: 16px;
}

.area-info .genero {
  margin-left: 5px;
  font-size: 16px;
}

.area-info .avaliacao {
  padding: 4px;
  border-radius: 6px;
  color: #fff;
}

.area-buttons {
  display: flex;
  justify-content: center;
}

.area-buttons button {
  background-color: #0b62e4;
  color: #fff;
  margin-right: 40px;
  margin-top: 20px;
  font-size: 20px;
  border: 0;
  outline: none;
  padding: 10px 24px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}

.area-buttons button:hover {
  background-color: #1d4ed8;
}

.area-buttons a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

@media (max-width: 758px) {
  .area-info {
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 80px;
  }
}
